h1 {{politician.name | uppercase}}
h6 //Date//
h6.subheader {{moment(politician.updated_at).format('MMMM Do YYYY @ h:mm:ss a')}}
h6 //Vote//
#vote
  .vote(ng-repeat='vote in politician.vote')
    a(ui-sref='politicians.list({vote:vote})') {{vote}}
h6 //Party//
blockquote {{politician.party}}
h6 //State//
blockquote {{politician.state}}
