//h1 Votes
//
//.row
//  .small-8.columns
//    h3 list
//    table#votes
//      thead
//        tr
//          th Delete
//          th Name
//          th Decision
//          th Party
//          th State
//      tbody
//        tr(ng-repeat='vote in votes')
//          td
//            a(ng-click='nuke(vote)')
//              img(ng-src='/assets/delete.png')
//          td: a(ui-sref='votes.detail({voteId:vote.vote_id})') {{vote.name}}
//          td
//            span.decision(ng-repeat='name in vote.decision')
//              a(ui-sref='votes.list({decision:name})') {{name}} 
//          td {{vote.party}}
//          td {{vote.state}}         
//    .pagination-centered
//      ul.pagination
//        li(ng-class='{current:isCurrent(page)}', ng-repeat='page in _.range(0,pages)')
//          a(ui-sref='votes.list({page:page})') {{page}}
//  .small-4.columns
